### Filter crop_recommendation.csv to MergeFileCrop.cv
### Filter fertilizer.csv to MergerFileFert.csv

In [1]:
import pandas as pd

In [2]:
# Reading the data 

crop_data_path = '../Datasets/Crop_recommendation.csv'
fertilizer_data_path = '../Datasets/Fertilizer.csv'

crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)

In [3]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  78  56  38    20.879744  82.002744  6.502985  202.935536  rice
1  93  52  41    21.770462  80.319644  7.038096  226.655537  rice
2  91  55  39    23.004459  82.320763  7.840207  263.964248  rice
3  67  60  37    26.491096  80.158363  6.980401  242.864034  rice
4  88  55  40    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
fert.head()

   Unnamed: 0         Crop   N   P   K   pH  soil_moisture
0           0         rice  80  40  40  5.5             30
1           3        maize  80  40  20  5.5             50
2           5     chickpea  40  60  80  5.5             60
3          12  kidneybeans  20  60  20  5.5             45
4          13   pigeonpeas  20  60  20  5.5             45

In [5]:
# Function for lowering the cases
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [6]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [7]:
#make some changes in ferttilizer dataset

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [8]:
crop.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195   96  34  29    26.774637  66.413269  6.780064  177.774507  coffee
2196  108  37  25    27.417112  56.636362  6.086922  127.924610  coffee
2197   89  31  25    24.131797  67.225123  6.362608  173.322839  coffee
2198   82  30  31    26.272418  52.127394  6.758793  127.175293  coffee
2199  116  23  32    23.603016  60.396475  6.779833  140.937041  coffee

In [9]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  78  56  38    20.879744  82.002744  6.502985  202.935536  rice
1  93  52  41    21.770462  80.319644  7.038096  226.655537  rice
2  91  55  39    23.004459  82.320763  7.840207  263.964248  rice
3  67  60  37    26.491096  80.158363  6.980401  242.864034  rice
4  88  55  40    20.130175  81.604873  7.628473  262.717340  rice

In [10]:
crop.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195   96  34  29    26.774637  66.413269  6.780064  177.774507  coffee
2196  108  37  25    27.417112  56.636362  6.086922  127.924610  coffee
2197   89  31  25    24.131797  67.225123  6.362608  173.322839  coffee
2198   82  30  31    26.272418  52.127394  6.758793  127.175293  coffee
2199  116  23  32    23.603016  60.396475  6.779833  140.937041  coffee

In [11]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [12]:
fert.head()

   Unnamed: 0         Crop   N   P   K   pH  soil_moisture
0           0         rice  80  40  40  5.5             30
1           3        maize  80  40  20  5.5             50
2           5     chickpea  40  60  80  5.5             60
3          12  kidneybeans  20  60  20  5.5             45
4          13   pigeonpeas  20  60  20  5.5             45

In [13]:
del fert['Unnamed: 0']

In [14]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [15]:
for i in crop_names_from_fert:
    print(crop[crop['label'] == i])

     N   P   K  temperature   humidity        ph    rainfall label
0   78  56  38    20.879744  82.002744  6.502985  202.935536  rice
1   93  52  41    21.770462  80.319644  7.038096  226.655537  rice
2   91  55  39    23.004459  82.320763  7.840207  263.964248  rice
3   67  60  37    26.491096  80.158363  6.980401  242.864034  rice
4   88  55  40    20.130175  81.604873  7.628473  262.717340  rice
..  ..  ..  ..          ...        ...       ...         ...   ...
95  90  41  39    22.683191  83.463583  6.604993  194.265172  rice
96  78  42  35    21.533463  82.140041  6.500343  295.924880  rice
97  83  37  35    21.408658  83.329319  5.935745  287.576693  rice
98  82  35  39    26.543481  84.673536  7.072656  183.622266  rice
99  83  49  43    23.359054  83.595123  5.333323  188.413665  rice

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph    rainfall  label
100  78  37  24    22.613600  63.690706  5.749914   87.759539  maize
101  78  59  16    26.100184  71.574769  6.931757  102.266244  maize
102  89  45  17    23.558821  71.593514  6.657965   66.719955  maize
103  87  37  15    19.972160  57.682729  6.596061   60.651715  maize
104  65  59  17    18.478913  62.695039  5.970458   65.438354  maize
..   ..  ..  ..          ...        ...       ...         ...    ...
195  98  56  22    18.928519  72.800861  6.158860   82.341629  maize
196  93  35  24    23.305468  63.246480  6.385684  108.760300  maize
197  95  56  25    18.748267  62.498785  6.417820   70.234016  maize
198  77  49  20    19.742133  59.662631  6.381202   65.508614  maize
199  88  42  24    25.730444  70.747393  6.877869   98.737713  maize

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph   rainfall     label
200  47  67  85    17.024985  16.988612  7.485996  88.551231  chickpea
201  29  69  80    19.020613  17.131591  6.920251  79.926981  chickpea
202  43  61  78    17.887765  15.405897  5.996932  68.549329  chickpea
203  37  76  76    18.868056  15.658092  6.391174  88.510490  chickpea
204  59  75  75    18.369526  19.563810  7.152811  79.263577  chickpea
..   ..  ..  ..          ...        ...       ...        ...       ...
295  29  70  80    17.341502  18.756263  8.861480  67.954543  chickpea
296  52  79  77    17.437327  14.338474  7.861128  73.092670  chickpea
297  36  61  83    18.897802  19.761829  7.452671  69.095125  chickpea
298  43  76  77    18.591908  14.779596  7.168096  89.609825  chickpea
299  50  63  82    18.315615  15.361435  7.263119  81.787105  chickpea

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph    rainfall        label
300  25  75  17    17.136928  20.595417  5.685972  128.256862  kidneybeans
301  24  76  21    19.634743  18.907056  5.759237  106.359818  kidneybeans
302  14  79  23    22.913502  21.339531  5.873172  109.225556  kidneybeans
303  14  61  23    16.433403  24.240459  5.926677  140.371781  kidneybeans
304  25  79  19    22.139747  23.022511  5.955617   76.641283  kidneybeans
..   ..  ..  ..          ...        ...       ...         ...          ...
395  22  58  25    20.109938  23.223238  5.595032   73.363865  kidneybeans
396  10  80  16    23.605066  21.905396  5.525905  100.597873  kidneybeans
397  25  58  22    19.731369  24.894874  5.819404   84.063541  kidneybeans
398  29  76  16    20.934099  21.189301  5.562202  133.191442  kidneybeans
399  30  76  17    18.782263  20.247683  5.630665  104.257072  kidneybeans

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph    rainfall       label
400   6  69  21    36.512684  57.928872  6.031608  122.653969  pigeonpeas
401  17  63  16    36.891637  62.731782  5.269085  163.726655  pigeonpeas
402  14  67  21    29.235405  59.389676  5.985793  103.330180  pigeonpeas
403  15  72  24    27.335349  43.357960  6.091863  142.330368  pigeonpeas
404   1  67  19    21.064368  55.469859  5.624731  184.622671  pigeonpeas
..   ..  ..  ..          ...        ...       ...         ...         ...
495  37  64  15    29.892866  66.353751  6.931925  198.140300  pigeonpeas
496  14  62  25    29.377356  44.822946  6.842744  172.401680  pigeonpeas
497  32  73  21    29.650529  42.898332  6.876573  186.922605  pigeonpeas
498   8  55  19    19.542849  66.347773  6.151029  173.110698  pigeonpeas
499   2  70  20    20.046118  48.939056  4.567446  122.456420  pigeonpeas

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph   rainfall      label
500   5  58  24    27.910952  64.709306  3.692864  32.678919  mothbeans
501  32  38  20    27.322206  51.278688  4.371746  36.503791  mothbeans
502  37  47  18    28.660242  59.318912  8.399136  36.926297  mothbeans
503  31  49  24    29.029553  61.093875  8.840656  72.980166  mothbeans
504  12  51  23    27.780315  54.650300  8.153023  32.050253  mothbeans
..   ..  ..  ..          ...        ...       ...        ...        ...
595  24  37  22    29.337434  49.003231  8.914075  42.440543  mothbeans
596  40  35  15    27.965837  61.349001  8.639586  70.104721  mothbeans
597  28  52  16    24.868040  48.275320  8.621514  63.918765  mothbeans
598  23  52  23    25.876823  45.963419  5.838509  38.532547  mothbeans
599  32  40  24    31.019636  49.976752  3.532009  32.812965  mothbeans

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph   rainfall     label
600  24  36  17    27.433294  87.805077  7.185301  54.733676  mungbean
601  32  42  17    28.334043  80.772760  7.034214  38.797641  mungbean
602   8  41  21    27.014704  84.342627  6.635969  55.296354  mungbean
603   1  44  25    28.174327  81.045548  6.828187  36.357207  mungbean
604  11  49  22    29.878881  87.327612  6.890780  44.752159  mungbean
..   ..  ..  ..          ...        ...       ...        ...       ...
695   8  56  18    28.727527  89.127604  7.069748  58.529743  mungbean
696  24  51  17    27.956397  83.527060  6.921994  43.257268  mungbean
697  17  44  21    28.174587  83.696593  6.770955  37.246465  mungbean
698  28  39  16    28.776535  86.691340  6.983130  56.124432  mungbean
699   0  59  24    28.438097  83.489914  6.267684  52.554700  mungbean

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph   rainfall      label
700  24  74  17    29.484400  63.199153  7.454532  71.890907  blackgram
701  55  73  21    26.734340  68.139997  7.040056  67.150964  blackgram
702  27  72  22    26.272744  62.288149  7.418651  70.232076  blackgram
703  48  69  23    34.036792  67.211138  6.501869  73.235736  blackgram
704  29  69  24    28.036441  65.066017  6.814411  72.495077  blackgram
..   ..  ..  ..          ...        ...       ...        ...        ...
795  49  60  19    33.369844  65.677182  6.874142  64.895175  blackgram
796  32  70  24    31.434506  62.993035  7.760618  64.776515  blackgram
797  35  55  19    27.716783  63.291034  6.781842  68.565080  blackgram
798  49  72  25    32.639187  61.300905  7.326980  61.838761  blackgram
799  28  65  16    32.747739  67.779546  7.453975  63.377844  blackgram

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph   rainfall   label
800   1  76  18    28.051536  63.498022  7.604110  43.357954  lentil
801  32  62  19    19.440843  63.277715  7.728832  46.831301  lentil
802  30  63  17    29.848231  60.638726  7.491217  46.804526  lentil
803  18  77  17    21.363838  69.923759  6.633865  46.635286  lentil
804  26  65  15    26.286639  68.519667  7.324863  46.138330  lentil
..   ..  ..  ..          ...        ...       ...        ...     ...
895  11  61  15    23.052764  60.424786  7.011121  52.602853  lentil
896  19  68  21    21.658458  63.583371  6.280726  38.076594  lentil
897  34  78  20    26.250703  67.627797  7.621495  40.810630  lentil
898  18  55  17    20.971953  63.831799  7.630424  53.102079  lentil
899   3  64  22    23.897364  66.321020  7.802212  40.745368  lentil

[100 rows x 8 columns]
      N   P   K  temperature   humidity        ph    rainfall        label
900  17  22  42    24.559816  91.635362  5.922936  111.968462  pomegranate
901  33  13  38    19.656901  89.937010  5.937650  108.045893  pomegranate
902  12   6  45    18.783596  87.402477  6.804781  102.518476  pomegranate
903  20  24  39    24.146963  94.511066  6.424671  110.231663  pomegranate
904  28   6  45    22.445813  89.901470  6.738016  109.390600  pomegranate
..   ..  ..  ..          ...        ...       ...         ...          ...
995  22  19  38    20.002190  85.836182  7.116539  112.337046  pomegranate
996   7  21  37    19.851393  89.807323  6.430163  102.818636  pomegranate
997  33   5  40    21.254336  92.650589  7.159521  106.278467  pomegranate
998  37  18  38    23.653741  93.326575  6.431266  109.807618  pomegranate
999   8  27  39    23.884048  86.206138  6.082572  108.312179  pomegranate

[100 rows x 8 columns]
        N   P   K  temperature   humidity        ph    rainfall   label
1000   91  91  45    29.367924  76.249001  6.149934   92.828409  banana
1001  114  72  49    27.333690  83.676752  5.849076  101.049479  banana
1002  116  84  51    27.400536  82.962213  6.276800  104.937800  banana
1003  104  82  47    29.315908  80.115857  5.926825   90.109781  banana
1004   95  71  50    26.054330  79.396545  5.519088  113.229737  banana
...   ...  ..  ..          ...        ...       ...         ...     ...
1095   92  93  49    27.359116  84.546250  6.387431   90.812505  banana
1096   81  73  52    28.010680  76.528081  5.891414  103.704078  banana
1097  110  76  48    28.672089  82.207936  5.725419   94.379875  banana
1098   87  92  49    27.345851  78.487384  6.281070   92.155243  banana
1099  114  74  46    29.507046  78.205856  5.507642   98.125658  banana

[100 rows x 8 columns]
       N   P   K  temperature   humidity        ph    rainfall  label
1100  33  27  31    29.737700  47.548852  5.954627   90.095869  mango
1101  14  31  29    33.556956  53.729798  4.757115   98.675276  mango
1102  36  25  28    27.003155  47.675254  5.699587   95.851183  mango
1103   9  20  27    33.561502  45.535566  5.977414   95.705259  mango
1104  39  40  35    35.898556  54.259642  6.430139   92.197217  mango
...   ..  ..  ..          ...        ...       ...         ...    ...
1195  34  30  35    31.484517  48.779263  4.525722   93.172220  mango
1196  10  40  27    27.698193  51.415932  5.403908  100.772070  mango
1197  19  21  30    30.412358  52.481006  6.621624   93.923759  mango
1198  23  34  34    32.177520  54.013527  6.207496   91.887661  mango
1199  11  20  30    32.611261  47.749165  5.418475   91.101908  mango

[100 rows x 8 columns]
       N    P    K  temperature   humidity        ph   rainfall   label
1200  32  140  196    29.996772  81.541566  6.112306  67.125345  grapes
1201   8  128  197    30.728040  82.426141  6.092242  68.381355  grapes
1202  27  126  200    32.445778  83.885049  5.896343  68.739325  grapes
1203  29  129  199    37.465668  80.659687  6.155261  66.838723  grapes
1204  34  127  198    22.032962  83.743728  5.732454  65.344408  grapes
...   ..  ...  ...          ...        ...       ...        ...     ...
1295  14  141  200     9.851243  80.226317  5.965379  68.428024  grapes
1296  11  127  203    24.972561  82.728287  6.476758  66.700163  grapes
1297  25  140  205    27.237083  82.945733  6.224543  70.425089  grapes
1298   7  142  203    18.706791  83.479529  6.209928  66.596449  grapes
1299  19  136  197     9.949929  82.551390  5.841138  66.008176  grapes

[100 rows x 8 columns]
        N   P   K  temperature   humidity        ph   rainfall       label
1300  107  29  51    26.473302  80.922544  6.283818  53.657426  watermelon
1301  102  23  54    25.187800  83.446217  6.818261  46.874209  watermelon
1302  113  19  54    25.299547  81.775276  6.376201  57.041471  watermelon
1303   91   7  55    24.746313  88.308663  6.581588  57.958261  watermelon
1304   91  17  55    26.587407  81.325632  6.932740  41.875400  watermelon
...   ...  ..  ..          ...        ...       ...        ...         ...
1395  104  23  46    25.287846  89.636679  6.765095  58.286977  watermelon
1396  103  24  47    26.638386  84.695469  6.189214  48.324286  watermelon
1397   92   8  45    25.331045  84.305338  6.904242  41.532187  watermelon
1398  110  10  54    26.897502  83.892415  6.463271  43.971937  watermelon
1399  109   5  48    26.986037  89.413849  6.260839  58.548767  watermelon

[100 rows x 8 columns]
        N   P   K  temperature   humidity        ph   rainfall      label
1400  108   6  53    27.578269  94.118782  6.776533  28.082532  muskmelon
1401  111  24  48    27.820548  93.035552  6.528404  26.324055  muskmelon
1402  116  14  55    29.099104  94.222378  6.750146  22.524973  muskmelon
1403  112  23  48    28.049436  90.831307  6.562833  20.762230  muskmelon
1404   80   9  48    29.916906  94.556956  6.117530  28.160572  muskmelon
...   ...  ..  ..          ...        ...       ...        ...        ...
1495  109  17  50    29.527531  94.574594  6.700338  21.135457  muskmelon
1496  102  21  48    28.504164  93.468065  6.565313  24.200072  muskmelon
1497   80  15  48    28.895786  94.789930  6.286515  23.036250  muskmelon
1498  106  18  50    27.049275  91.382173  6.448062  23.657475  muskmelon
1499  113  13  53    28.960179  91.695322  6.585873  24.745820  muskmelon

[100 rows x 8 columns]
       N    P    K  temperature   humidity        ph    rainfall  label
1500  26  145  201    22.750888  90.694892  5.521467  110.431786  apple
1501  12  120  203    23.849401  94.348150  6.133221  114.051249  apple
1502  34  132  202    22.608010  94.589006  6.226290  116.039659  apple
1503  39  128  200    21.186674  91.134357  6.321152  122.233323  apple
1504  17  127  203    23.410447  91.699133  5.587906  116.077793  apple
...   ..  ...  ...          ...        ...       ...         ...    ...
1595  17  142  196    23.805938  92.488795  5.889481  119.633555  apple
1596  34  137  202    22.319441  90.851744  5.732758  100.117344  apple
1597  39  136  201    22.144641  93.825674  6.400321  120.631078  apple
1598  27  141  196    23.651676  94.505288  6.496934  115.361127  apple
1599   0  136  204    22.169395  90.271856  6.229499  124.468311  apple

[100 rows x 8 columns]
       N   P   K  temperature   humidity        ph    rainfall   label
1600   6  17  13    15.781442  92.510777  6.354007  119.035002  orange
1601   4   5   5    26.030973  91.508193  7.511755  101.284774  orange
1602  40  10   6    13.360506  91.356082  7.335158  111.226688  orange
1603  28  27  10    18.879577  92.043045  7.813917  114.665951  orange
1604   1  27  15    29.477417  91.578029  7.129137  111.172750  orange
...   ..  ..  ..          ...        ...       ...         ...     ...
1695  24  25   7    32.717485  90.546083  7.656978  113.328978  orange
1696  23  19   7    25.162966  92.547360  7.105905  114.311720  orange
1697  22   9  15    27.681673  94.473169  7.199106  113.999515  orange
1698  38  29  11    21.350934  90.949297  7.871063  107.086209  orange
1699  35   5  15    11.698946  93.256389  7.566166  103.200599  orange

[100 rows x 8 columns]
       N   P   K  temperature   humidity        ph    rainfall   label
1700  59  47  45    35.214628  91.497251  6.793245  243.074507  papaya
1701  52  63  51    42.394134  90.790281  6.576261   88.466075  papaya
1702  54  66  49    38.419163  91.142204  6.751453  119.265388  papaya
1703  51  47  50    35.332949  92.115086  6.560743  235.613359  papaya
1704  68  61  47    42.923253  90.076005  6.938313  196.240824  papaya
...   ..  ..  ..          ...        ...       ...         ...     ...
1795  64  50  55    40.102077  94.351102  6.979102  149.119999  papaya
1796  60  54  46    38.589545  91.580765  6.825665  102.270823  papaya
1797  52  45  53    41.313301  91.150880  6.617067  239.742755  papaya
1798  52  48  45    37.035519  91.794302  6.551893  188.518142  papaya
1799  62  52  54    23.012402  91.073555  6.598860  208.335798  papaya

[100 rows x 8 columns]
       N   P   K  temperature   humidity        ph    rainfall    label
1800   7  21  32    26.762749  92.860569  6.420019  224.590366  coconut
1801  33   9  25    25.612944  94.313884  5.740055  224.320676  coconut
1802  20  18  29    28.130115  95.648076  5.686973  151.076190  coconut
1803   0   5  29    25.028872  91.537209  6.293662  179.824894  coconut
1804  27  24  35    27.797977  99.645730  6.381975  181.694228  coconut
...   ..  ..  ..          ...        ...       ...         ...      ...
1895  22  19  27    28.435729  95.884041  5.665785  203.928371  coconut
1896   5  23  34    28.940997  93.001090  5.764615  191.772309  coconut
1897  29  21  28    26.454887  93.450426  5.901496  149.222026  coconut
1898  26  11  30    25.794905  93.841506  5.779033  152.423871  coconut
1899  39  22  32    26.931419  98.803136  5.671549  166.571288  coconut

[100 rows x 8 columns]
        N   P   K  temperature   humidity        ph   rainfall   label
1900  116  43  21    24.402289  79.197320  7.231325  90.802236  cotton
1901  137  56  17    23.095956  84.862757  6.925412  71.295811  cotton
1902  102  53  16    23.965635  76.976967  7.633437  90.756167  cotton
1903  101  45  15    24.887381  75.621372  6.827355  89.760504  cotton
1904  123  56  17    25.362438  83.632761  6.176716  88.436189  cotton
...   ...  ..  ..          ...        ...       ...        ...     ...
1995  139  40  25    22.107190  78.583201  6.364730  74.941366  cotton
1996  135  45  18    23.038140  76.110215  6.913679  91.496975  cotton
1997  124  46  21    24.547953  75.397527  7.766260  63.880799  cotton
1998  124  51  18    23.738680  75.775038  7.556064  76.636692  cotton
1999  125  37  25    22.318719  83.861300  7.288377  65.357470  cotton

[100 rows x 8 columns]
       N   P   K  temperature   humidity        ph    rainfall label
2000  62  44  45    25.524690  72.248508  6.002525  151.886997  jute
2001  85  35  41    26.591050  82.941641  6.033485  161.247000  jute
2002  91  39  37    25.297818  86.887053  7.121934  196.624951  jute
2003  91  51  43    25.721009  88.165136  6.207460  175.608670  jute
2004  95  46  38    23.584193  72.004608  6.090060  190.424216  jute
...   ..  ..  ..          ...        ...       ...         ...   ...
2095  63  36  38    23.874845  86.792613  6.718725  177.514731  jute
2096  92  35  39    23.928879  88.071123  6.880205  154.660874  jute
2097  76  51  45    24.814412  81.686889  6.861069  190.788639  jute
2098  94  35  40    24.447439  82.286484  6.769346  190.968489  jute
2099  97  54  37    26.574217  73.819949  7.261581  159.322307  jute

[100 rows x 8 columns]
        N   P   K  temperature   humidity        ph    rainfall   label
2100  102  19  31    26.333780  57.364700  7.261314  191.654941  coffee
2101   90  33  26    26.452885  55.322227  7.235070  144.686134  coffee
2102   84  37  28    25.708227  52.886671  7.189156  136.732509  coffee
2103  104  18  27    24.128325  56.181077  6.431900  147.275782  coffee
2104  104  38  28    23.443723  60.395233  6.423211  122.210325  coffee
...   ...  ..  ..          ...        ...       ...         ...     ...
2195   96  34  29    26.774637  66.413269  6.780064  177.774507  coffee
2196  108  37  25    27.417112  56.636362  6.086922  127.924610  coffee
2197   89  31  25    24.131797  67.225123  6.362608  173.322839  coffee
2198   82  30  31    26.272418  52.127394  6.758793  127.175293  coffee
2199  116  23  32    23.603016  60.396475  6.779833  140.937041  coffee

[100 rows x 8 columns]

In [16]:
crop['label']

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [17]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [18]:
# using extract labesl on crop to get all the data related to those labels
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)

In [19]:
import pandas as pd

# Assuming you have a DataFrame named 'crop' and you want to create a new DataFrame 'new_crop'
new_crop = pd.DataFrame()

# Loop through extract_labels and concatenate rows to new_crop
for label in extract_labels:
    subset = crop[crop['label'] == label]
    new_crop = pd.concat([new_crop, subset], ignore_index=True)

In [20]:
# Assuming you have a DataFrame named 'fert' and you want to create a new DataFrame 'new_fert'
new_fert = pd.DataFrame()

# Loop through extract_labels and append the first row to new_fert for each label
for label in extract_labels:
    subset = fert[fert['Crop'] == label]
    if not subset.empty:  # Check if the subset is not empty
        new_fert = pd.concat([new_fert, subset.iloc[0]])

In [21]:
new_crop

        N   P   K  temperature   humidity        ph    rainfall   label
0      78  56  38    20.879744  82.002744  6.502985  202.935536    rice
1      93  52  41    21.770462  80.319644  7.038096  226.655537    rice
2      91  55  39    23.004459  82.320763  7.840207  263.964248    rice
3      67  60  37    26.491096  80.158363  6.980401  242.864034    rice
4      88  55  40    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195   96  34  29    26.774637  66.413269  6.780064  177.774507  coffee
2196  108  37  25    27.417112  56.636362  6.086922  127.924610  coffee
2197   89  31  25    24.131797  67.225123  6.362608  173.322839  coffee
2198   82  30  31    26.272418  52.127394  6.758793  127.175293  coffee
2199  116  23  32    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [22]:
new_fert

                  0
Crop           rice
N                80
P                40
K                40
pH              5.5
...             ...
N               100
P                20
K                30
pH              5.5
soil_moisture    20

[132 rows x 1 columns]

In [23]:
new_crop.to_csv('../Data-raw/MergeFileCrop.csv')
new_fert.to_csv('../Data-raw/FertilizerData.csv')